.modal-outer{
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
}

.modal-inner{
    position:relative;
    background-color: white;
    max-width: fit-content;
    padding: 2%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.closing-button{
    position:absolute;
    top:0px;
    right:0px;
    background: transparent;
    font-size: larger;
    border:none;
    outline: none;
    color: black;
}

.closing-button:hover, .closing-button:focus{
    outline: none;
    border: none;
}

.video-content{
    position:relative;
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container{
    max-width: 800px;
    height: 100%;
    /* outline: 2px solid black; */
}